.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 2.5rem;
  height: 10%;

  background-color: black;

  &__logo {
    height: 4.1rem;
    width: auto;
    padding-left: 4rem;
    cursor: pointer;

    @media screen and (max-width:950px) {
      padding-left: 2.5rem;
    }
  }

  &__menu_icon {
    height: 3.1rem;
    padding-right: 3.75rem;
    cursor: pointer;

    @media screen and (max-width:950px) {
      padding-right: 2.5rem;
    }
  }
}