  .similar_movie {
    display: inl;
    justify-content: center;
    min-width: 25rem;
    max-width: 300px;

    background-color: black;
    box-shadow: 1px 1px 10px rgba(94, 94, 94, 0.295);
    cursor: pointer;
    position: relative;


    &__image {
      width: 100%;
      object-fit: cover;
    }

    &__title {
      position: absolute;
      left: 0;
      bottom: 0;
      
      padding-left: 1rem;
      width: 100%;
      max-width: 100%;
      overflow: hidden;

      word-break: keep-all;
      white-space: nowrap;
      text-overflow: ellipsis;

      background-color: rgba(0, 0, 0, 0.6);
      font-size: 1.5rem;
    }
  }
