@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Oswald&display=swap');

html {
	font-size: 80%;
}

body {
	margin: 0;
	padding: 0;

	height: 100vh;
	max-height: 100vh;
	max-width: 100vw;
	overflow: hidden;

	font-family: 'Kanit', sans-serif;
	font-size: 1.9rem;
	// color: white;

	// background-color: black;
}

a {
	text-decoration: none;
	color: inherit;
}

img {
	display: inline-block;
	max-width: 100%;
}

input, input::placeholder {
	font-family: 'Oswald', sans-serif;
	letter-spacing: .1em;
}