@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Oswald&display=swap');

html {
	font-size: 80%;

	@media screen and (max-width:1024px) {
		font-size: 70%;
	}

	@media screen and (max-width:768px) {
		font-size: 60%;
	}

	@media screen and (max-width:425px) {
		font-size: 50%;
	}
}

body {
	margin: 0;
	padding: 0;

	height: 100vh;
	max-width: 100vw;

	font-family: 'Kanit', sans-serif;
	font-size: 1.9rem;
}

a {
	text-decoration: none;
	color: inherit;
}

img {
	display: inline-block;
	max-width: 100%;
}

input, input::placeholder {
	font-family: 'Oswald', sans-serif;
	letter-spacing: .1em;
}